@import "tailwindcss";

body {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
}
.asideBg {
  height: 400px;
  background-image: url("../images/asideBg.png");
  /* background-repeat: no-repeat; */
}
.asideMacBg {
  height: 320px;
  background-image: url("../images/asideBg2.png");
}
